= form_for @user, html: { class: "form form-horizontal category" } do |f|
  - if @user.errors.any?
    .alert.alert-danger
      - @user.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
  .form-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, class: 'form-control', required: true
  
  = f.submit nil,class: 'btn btn-primary'
  = link_to 'Cancel', users_path, :class => 'btn btn-default'
