= form_for @category, html: { class: "form form-horizontal category" } do |f|
  - if @category.errors.any?
    .alert.alert-danger
      - @category.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@category[:name])
  
  = f.submit nil,class: 'btn btn-primary'
  = link_to 'Cancel', categories_path, :class => 'btn btn-default'
