.page-header
  %h1= Category

%p
  %strong= 'Name:'
  %br
  = @category.name


= link_to 'Back',    categories_path, :class => 'btn btn-default'
= link_to 'Edit',    edit_category_path(@category), :class => 'btn btn-default'
= link_to 'Destroy', category_path(@category), :method => "delete", :data => { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
