= form_for @product, html: { class: "form form-horizontal product", multiple: true } do |f|
  - if @product.errors.any?
    .alert.alert-danger
      - @product.errors.full_messages.each do |msg|
        %li= msg

  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@product[:name])
  
  .form-group
    = f.label :price, class: 'control-label'
    .controls
      = f.number_field :price, class: 'form-control', required: true
    = error_span(@product[:price])
  
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control'
    = error_span(@product[:description])
  
  .form-group
    = f.label :categories, class: 'control-label'
    .controls
      = select_tag 'product[category_ids]', options_from_collection_for_select(@categories, :id, :name, @product.categories.map(&:id)), multiple: true, class: 'selectpicker'
  
  .form-group
    = f.label :picture, class: 'control-label'
    .controls
      = f.file_field :picture, class: 'form-control'
      = f.hidden_field :picture_cache
    = error_span(@product[:picture])
  
  = f.submit nil,class: 'btn btn-primary'
  = link_to 'Cancel', products_path, :class => 'btn btn-default'