= hidden_field_tag :direction, params[:direction]
= hidden_field_tag :sort, params[:sort]

= paginate @products, :remote => true

%table.table.table-striped
  %thead
    %tr
      %th= sortable 'id'
      %th Picture
      %th= sortable 'name'
      %th Price
      %th Description
      %th Categories
      %th
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.id, product_path(product)
        %td= image_tag product.picture.thumb.url
        %td= product.name
        %td= product.price
        %td= product.description
        %td
          - product.categories.each do |cat|
            =link_to cat.name, params.merge( search: { category: cat.name } ), remote: true
        %td
          = link_to 'Edit', edit_product_path(product), :class => 'btn btn-default btn-xs'
          = link_to 'Destroy', product_path(product), :method => :delete, :data => { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger'

= paginate @products, :remote => true