<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="col-md-3">
    <div class="left-navigation">
      <%= render_navigation :renderer => :bootstrap %>
    </div>
  </div>
  <div class="col-md-9">
    <%= yield %>
  </div>
  
  
</div>

</body>
</html>
