!!! 5
%html
  %head
    %title Warehouse
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .col-md-3
        .left-navigation
          = render_navigation :renderer => :bootstrap
      .col-md-9
        = yield